<h1>Register</h1>

<div style="width: 25%" class="greyborder">

  <%= form_for :user, url: '/users' do |f| %>

    <label for="first_name">First Name:</label>
    <%= f.text_field :first_name, class: 'form-control' %>

    <br>

    <label for="last_name">Last Name:</label>
    <%= f.text_field :last_name, class: 'form-control'  %>

    <br>

    <label for="email">E-mail:</label>
    <%= f.text_field :email, class: 'form-control'  %>

    <br>

    <label for="password">Password:</label>
    <%= f.password_field :password, class: 'form-control'  %>

    <br>

    <label for="password_confirmation">Confirm Password:</label>
    <%= f.password_field :password_confirmation, class: 'form-control'  %>

    <br>

    <%= f.submit "Register", class: 'form-control' %>

  <% end %>

</div>