<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>

  <p class="indexrating">
  <%
  rating_avg = Review.where(product_id: product.id).average(:rating)
  if rating_avg
  %>

      Rating:
            <%
            full_stars = rating_avg.round
            empty_stars = 5 - rating_avg.round
            while full_stars > 0 do %>
              <i class="fa fa-star" aria-hidden="true" style="
              color: yellow;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
              "></i>
              <% full_stars -= 1
            end
            while empty_stars > 0 do %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <% empty_stars -= 1
            end
            %>



  <% else %>

    No ratings yet!

  <% end %>


  </p>

  <footer class="actions">

      <% if product.quantity > 0 %>
        <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>
      <% end %>

    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <% if product.quantity == 0 %>
    <aside class="soldout">
      SOLD OUT!
    </aside>
  <% end %>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
